.notif {
    width: 250px;
    height: 100px;
    background-image: url("https://media1.tenor.com/images/04cde5f088c0b6aba963fc460b9ba848/tenor.gif?itemid=22929619")!important;
    background-size: contain;
}